<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  
  <!-- jquery -->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/jquery/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="/jquery/jquery-ui-1.12.1.custom/jquery-ui.min.css">
  <link rel="stylesheet" href="/jquery/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css">

  <!-- chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

  <!-- moment.js -->
  <script src="/momentjs/moment.min.js"></script>
  <!-- test json -->
  <script src="test/typeform.js"></script>
  
  <!-- scripts -->
  <script src="js/callTypeformLambda.js"></script>
  <!-- <script src="test/dataParser.js"></script> -->

</head>
