<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  
  <!-- jquery -->
  <script src="jquery/jquery.min.js"></script>

  <!-- chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" integrity="sha256-CfcERD4Ov4+lKbWbYqXD6aFM9M51gN4GUEtDhkWABMo=" crossorigin="anonymous"></script> -->


  <!-- test json -->
  <script src="test/typeform.js"></script>
  
  <!-- scripts -->
  <script src="js/callTypeformLambda.js"></script>
  <!-- <script src="test/dataParser.js"></script> -->

</head>
