---
layout: default
---

<div class="home">
    <div id="headerData"></div>

  <canvas id="q1"></canvas>
  <div id='q1Other'></div>
  <br><br><br><hr><br><br><br>
  <canvas id="q2"></canvas>
  <br><br><br><hr><br><br><br>
  <canvas id="q3"></canvas>
  <div id='q3Other'></div>
  <br><br><br><hr><br><br><br>
  <canvas id="q4"></canvas>
  <div id='q4Other'></div>
  <br><br><br><hr><br><br><br>

</div>

<script>
    var otherAns;
    function q1Chart() {
        var ctx = document.getElementById("q1").getContext('2d');
        otherAns = document.getElementById("q1Other");

        var TOTAL = get.totalResponses();
        var LABELS = get.q1AnswerChoices();
        var DATASET = q.count(1);
        // var OTHER = q.other(1);

        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: LABELS,
                datasets: [{
                    label: 'Why did you join the military?',
                    data: DATASET,
                    backgroundColor: [],
                    borderColor: [],
                    borderWidth: 0
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        addOther(q.other(1).unique());
    }

var id = 1;

function addOther(OTHER) {

    let html = `
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#other${id}" aria-expanded="false" aria-controls="other${id}">
    Other Responses
    </button>
    <div class="collapse" id="other${id}">
        <div class="card card-body">
            <ul>`
//   let html = "<h3>Other Responses:</h3><ul>";
  OTHER.forEach((el) => {
    html += "<li>\"" + el + "\"</li>";
  });
  html += "</ul></div></div>"
  otherAns.innerHTML = html;
  id++;
}




</script>


<script>
    function q2Chart() {
        ctx = document.getElementById("q2").getContext('2d');

        LABELS = get.q2AnswerChoices();
        DATASET = q.count(2);

        var myChart2 = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: LABELS,
                datasets: [{
                    label: 'How much time do you have left on your enlistment?',
                    data: DATASET,
                    backgroundColor: [],
                    borderColor: [],
                    borderWidth: 0
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    }

</script>


<script>
    function q3Chart() {
        ctx = document.getElementById("q3").getContext('2d');
        otherAns = document.getElementById("q3Other");

        LABELS = get.q3AnswerChoices();
        DATASET = q.count(3);
        // OTHER = q.other(3);

        var myChart3 = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: LABELS,
                datasets: [{
                    label: 'Why are you separating from the military?',
                    data: DATASET,
                    backgroundColor: [],
                    borderColor: [],
                    borderWidth: 0
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        addOther(q.other(3).unique());
    }

</script>

<script>
    function q4Chart() {
        ctx = document.getElementById("q4").getContext('2d');
        otherAns = document.getElementById("q4Other");

        LABELS = get.q4AnswerChoices();
        DATASET = q.count(4);
        // OTHER = q.other(4);

        var myChart4 = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: LABELS,
                datasets: [{
                    label: 'Why are you staying in the military?',
                    data: DATASET,
                    backgroundColor: [],
                    borderColor: [],
                    borderWidth: 0
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        addOther(q.other(4).unique());
    }

</script>